{
    "Gemini-Pro-api": {
        "name": "gemini-2.0-flash",
        "type": "api",
        "retry_count": 3,
        "key": "GOOGLE-API-KEY"
    },
    "Poe-api": {
        "name": "Gemini-1.5-Flash",
        "type": "api",
        "retry_count": 3,
        "key": "POE-API-KEY"
    }
}
